.fm-auth-actions
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}

.fm-auth-link
{
  font-size: 0.8em;
  color: #7178a3;
  text-decoration: none;
}

.fm-auth-main
{
  min-height: 100vh;
  background-image: url('/fm-background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
}
