<mat-toolbar color="primary">
  <span>4-Minator</span>
  <span class="spacer"></span>
  <span>
    <button mat-raised-button>Register</button>
    <button mat-flat-button>Login</button>
  </span>
</mat-toolbar>
<mat-card>
    <mat-card-header>
      <mat-card-title>
        Placeholder for landing page
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="button-container">

    </mat-card-actions>
    <mat-card-footer>
      <label class="footer-container">fter.dev> &copy;{{year}}</label>
    </mat-card-footer>
</mat-card>
