<p class="fm-password-check-p">
    <mat-icon class="fm-icon-not-valid">cancel</mat-icon>
    At least 8 characters.
</p>
<p class="fm-password-check-p">
  <mat-icon class="fm-icon-valid">check_circle</mat-icon>
  <!-- <mat-icon class="fm-icon-not-valid">cancel</mat-icon> -->
  At least one uppercase and lowercase letter.
</p>
<p class="fm-password-check-p">
  <mat-icon class="fm-icon-valid">check_circle</mat-icon>
  <!-- <mat-icon class="fm-icon-not-valid">cancel</mat-icon> -->
  At least one number.
</p>
<p class="fm-password-check-p">
  <mat-icon class="fm-icon-valid">check_circle</mat-icon>
  <!-- <mat-icon class="fm-icon-not-valid">cancel</mat-icon> -->
  At least one special character.
</p>
