<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'minLength'"
  [message]="'At least 8 characters.'">
</fm-password-check-point>
<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'lowerUpper'"
  [message]="'At least one uppercase and one lowercase letter.'">
</fm-password-check-point>
<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'number'"
  [message]="'At least one number.'">
</fm-password-check-point>
<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'special'"
  [message]="'At least one special character.'">
</fm-password-check-point>
