<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'minLength'"
  [message]="'Min 8 characters'">
</fm-password-check-point>
<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'lowerUpper'"
  [message]="'Upper- and lowercase letter'">
</fm-password-check-point>
<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'number'"
  [message]="'Number'">
</fm-password-check-point>
<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'special'"
  [message]="'Special character'">
</fm-password-check-point>
<fm-password-check-point
  [error]="errors | passwordErrorFilter: 'mismatch'"
  [message]="'Passwords match'">
</fm-password-check-point>
