<mat-card class="fm-auth-card">
  <mat-card-header class="fm-auth-header">
    <img src="/fm-logo.svg" alt="4-MINATOR" class="fm-auth-logo" />
    <label>Fill in the form to create an account.</label>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm"  class="fm-form-single-column">
      <mat-form-field [appearance]="appearance">
        <mat-label>Nickname</mat-label>
        <input matInput type="text" formControlName="nickname" />
      </mat-form-field>
      <mat-form-field [appearance]="appearance">
        <mat-label>E-Mail</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field [appearance]="appearance">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-form-field [appearance]="appearance">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
      <mat-checkbox formControlName="terms">
        I accept the terms and conditions.
      </mat-checkbox>
      <div class="fm-auth-actions">
        <button mat-flat-button color="primary" type="submit">Create</button>
        <a routerLink="/auth/login" class="fm-auth-link">Already have an account?</a>
        <a routerLink="/" class="fm-auth-link">Back to home</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
