.fm-logo
{
  height: 50px;
  width: 50px;
}

.fm-toolbar-links
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.fm-toolbar-user
{
  display: flex;
  align-items: center;
}

mat-toolbar>span>button
{
  width: 100px !important;
}
mat-toolbar>span
{
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.fm-spacer
{
  flex-grow: 1;
}
