:host
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0px;
  gap: 0.25rem;
  font-size: 0.9rem;
  max-width: 300px;
}

.fm-icon-not-valid
{
  color: var(--fm-error-color) !important;
}

.fm-icon-valid
{
  color: var(--fm-success-color);
}
