/* You can add global styles to this file, and also import other style files */



html, body {
  height: 100%;
  --fm-error-color: #f44336;
  --fm-success-color: #4caf50;
  --fm-warning-color: #ff9800;

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

}
.fm-copyright
{
  font-size: 0.8em;
}

.mdc-button
{
  border-radius: 10px !important;
}
